@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        margin: 0;
        padding: 0;
        background-color: #121c24;
    }

}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@layer components {
    .navbar {
        & button {
            @apply flex flex-col items-center cursor-pointer absolute transition-all duration-300 ease-in-out hover:scale-105;
            
            & svg, & span {
                @apply transition-colors duration-300;
            }
            
            &:hover {
                & svg, & span {
                    @apply text-white;
                }
            }
        }
    }

    .taskCard {
        @apply bg-gray-200  h-[85vh] mt-7 rounded-2xl shadow-lg z-40 
    }

    .infoCard {
        @apply bg-gray-800/50 rounded-xl p-4 backdrop-blur-sm hover:scale-105 transition-all duration-300 cursor-pointer
    }
}

